@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FOOD 'N STUFF</h1>
    <p class="lead">Food 'N Stuff is a store that supplies every need for your food and stuff.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Food</h2>
        <p>
            Food 'N Stuff gives you a powerful, selection-based supply of Food and Stuff to build collections that
            enables a delicious breakfast, lunch, or dinner and gives you full control over your unlimited supply
            of stuff for enjoyable, Food 'N Stuff.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Getting Stuff</h2>
        <p>Stuff is a good thing that makes it easy to add, remove, and update your collection of stuff in Storage spaces.</p>
    </div>
</div>